<br/>
<h1>Signup!</h1>
<br/>
<%= form_for :user, url: '/users', class: "signup-form"  do |f| %>

  First Name: <%= f.text_field :first_name %>
  Last Name: <%= f.text_field :last_name %>
  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password, suggested: "new-password" %>
  Password Confirmation: <%= f.password_field :password_confirmation, suggested: "new-password" %>
  <br/>
  <%= f.submit "Submit" %>

<% end %>